@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


html, body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    
}
body {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(../images/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.desktop-mobile {
    width: 100%;
    margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.section-main { 
  display: flex;
  flex-direction: column;
  align-items: center;
  }
.section-main--container1, .section-main--container2 {
    width: 84%;
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px;
    color: hsl(243, 100%, 93%);
}
.section-main--container1 {
    border-top-right-radius: 125px;
}
.section-main--container-icon, .section-main--container-icon1 {
    width: 3.3rem;
    height: 3.3rem;
    background-color: hsl(229, 57%, 11%);
    border-radius: 8px;    
}

.section-main--container-icon a, .section-main--container-icon1 a {
    display: block;
    width: 50%;
    height: auto;
    height: 50%;
    margin: 25% 25%;
}
.section-main--container-icon1 a {
    margin: 25% 20% 25% 30%;
}
.section-main--container2{
    position: relative;
}
.section-main--container2-scale{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.section-main--container2-scale1 {
    position: relative;
    height: 20px;
    background-color: hsla(229, 57%, 11%, 0.5);
    width: 100%;
    
    z-index: 0;
}

.section-main--container2-scale2 {
    position: absolute;
    width: 75%;
    height: 16px;
    top:2px;
    left: 2px;
    background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    z-index: 10;

}
.section-main--container2-scale3 {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 4px;
    left: 75%;
    margin-left: -16px;
    background-color: #fff;
    z-index: 20;

}
.section-main--container3 {
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 10px;   
    margin-top: -40px;
    z-index: 30;
}

.section-main--container3 span{
    color: hsl(229, 57%, 11%);
    font-size: 40px;
    line-height: 100%;
}
.section-main--container3-sup{
    color: hsl(229, 7%, 55%);
    font-variant: small-caps;
    font-size: 12px;
}

@media (min-width: 1024px) {
    body {
        width: 100%;
        height: 100vh;
        background-image: none;
        background-color: hsl(229, 57%, 11%);
        background-image: url(./images/bg-desktop.png);
        background-repeat: no-repeat;
         background-size: auto 50%;
        background-position: bottom; 
    }
    .desktop-mobile {
        
    }
    .section-main { 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* align-items: flex-end; */
        justify-content: center;
        }
      .section-main--container1  {
          width: 25%;
          margin-right: 2%;
      }
      .section-main--container2
      {
        width: 40%;
        align-self: flex-end;
          
      }
      .section-main--container2 p{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
          text-align: left !important;
      }
      .section-main--container3 {
       width: 12%;
        font-weight: 700;
        text-align: center;
        letter-spacing: 1px;
        border-radius: 10px;   
        margin-top: -270px !important; 
        margin-left: 47%;
        z-index: 30;
    }
}